@import '../../../assets/style/mixins.scss';

.checkout-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;

    .accordion-container .accordion-header {
        font-size: 1.25rem;
        line-height: 1;
        text-transform: uppercase;
        color: #000;
    }
}

.address-list-container {
    .address-list {
        list-style: none;
        list-style-type: none;
        cursor: pointer;
        li {
            padding: 0;
        }
    }
}

.delivery-options-container {
    .delivery-options-list {
        .delivery-options-list-item {
            box-sizing: border-box;
        }
    }
}

.payment-methods-container {
    .payment-methods-list {
        .payment-methods-list-item {
            box-sizing: border-box;
        }
    }
}

.checkout-summary-panel {
    width: 320px;
    .checkout-summary {
        background-color: #ececec;
        *{color: #000;}
    }
    .align-text-right {
        text-align: right;
    }
    h4 {
        line-height: 1.5;
        border-bottom: 1px solid;
    }
    h2 {
        font-size: 27px;
        line-height: 36px;
    }
    h2, h3 {
        color: inherit;
    }
}
@media screen and (max-width: 768px) {
    .checkout-summary-panel {
        width: 100%;
        border-top: 1px solid #333;
        margin-top: 2rem;
        .checkout-summary {
            background-color: #fff;
        }
        * {
            color: #000;
        }
        h4 {
            display: none;
        }
    }
}

.radio-list {
    >div, >li {
        cursor: pointer;
        border: 1px solid #333;
        margin: 0 0 1rem 0;
        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            content: "";
            display: flex;
            justify-content: center;
            min-width: 30px;
            height: 30px;
            border: 2px solid #000;
            border-radius: 30px;
        }
        &.active {
            border: 3px solid #000;
            &:before {
                background-color: #000;
                content: "L";
                color: #fff;
                transform: rotate(-135deg) scaleY(-1);
                font-size: 18px;
            }
        }
    }
}

.address-list-item-placeholder {
    .container {
        border: 1px solid #ebebeb;
    }
    h5 {
        width: 25%;
        background-color: #ebebeb;
        height: 24px;
        margin-left: 45px;
    }
    p {
        width: 35%;
        background-color: #ebebeb;
        height: 18px;
        margin-left: 45px;
        &:last-child {
            width: 15%;
        }
    }
}

.checkout-status-bar {
    $dimen: 24px;
    $base_col: grey;
    $done_col: #067D62;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    max-width: 450px;
    .line {
        height: 5px;
        flex-grow: 1;
        width: 100%;
        background-color: $base_col;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $done_col;
            transition: 0.6s width;
        }
        &.done {
            &::after {
                width: 100%;
            }
        }
    }
    .step {
        min-width: $dimen;
        height: $dimen;
        border-radius: $dimen;
        color: $base_col;
        border: $base_col;
        border: 2px solid $base_col;
        font-size: 12px;
        line-height: 0.8;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        &.done {
            animation-duration: 0.6s;
            animation-delay: 0.6s;
            animation-name: 'step-complete';
            animation-fill-mode: forwards;
            &:first-child, &:last-child {
                animation-delay: 0 !important;
            }
        }
        @keyframes step-complete {
            from {
                color: $base_col;
                border: $base_col;
            }
            to {
                border-width: 0px;
                color: white;
                background-color: $done_col;
            }
        }
    }
}