@import '../../../assets/style/mixins.scss';

.checkout-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    .dummydiv {
        background-color: teal;
        height: 300px;
        width: 100%;
    }

    .checkout-section-container {
        min-width: 100%;
        transition: 0.4s ease-in-out;
    }
    .user-module > div {
        width: 100%;
    }
    .user-module > div:nth-child(2){
        position: relative;
        &::before {
            content: "OR";
            position: absolute;
            left: -12px;
            @include media(991px) {
                left: 50%;
                margin-left: -12px;
                top: -10px;
            }
        }
    }

    .address-module {
        .select-address-item {
            border: 2px solid;
            margin-right: 1rem;
            margin-bottom: 1rem;
            cursor: pointer;
            p {
                font-size: 14px;
                margin-bottom: 0;
            }

        }
    }

}