.checkout-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden; }
  .checkout-container .accordion-container .accordion-header {
    font-size: 1.25rem;
    line-height: 1;
    text-transform: uppercase;
    color: #000; }

.address-list-container .address-list {
  list-style: none;
  list-style-type: none;
  cursor: pointer; }
  .address-list-container .address-list li {
    padding: 0; }

.delivery-options-container .delivery-options-list .delivery-options-list-item {
  box-sizing: border-box; }

.payment-methods-container .payment-methods-list .payment-methods-list-item {
  box-sizing: border-box; }

.checkout-summary-panel {
  width: 320px; }
  .checkout-summary-panel .checkout-summary {
    background-color: #ececec; }
    .checkout-summary-panel .checkout-summary * {
      color: #000; }
  .checkout-summary-panel .align-text-right {
    text-align: right; }
  .checkout-summary-panel h4 {
    line-height: 1.5;
    border-bottom: 1px solid; }
  .checkout-summary-panel h2 {
    font-size: 27px;
    line-height: 36px; }
  .checkout-summary-panel h2, .checkout-summary-panel h3 {
    color: inherit; }

@media screen and (max-width: 768px) {
  .checkout-summary-panel {
    width: 100%; }
    .checkout-summary-panel .checkout-summary {
      background-color: #fff; }
    .checkout-summary-panel * {
      color: #000;
      border-top: 1px solid #333; }
    .checkout-summary-panel h4 {
      display: none; } }

.radio-list > div, .radio-list > li {
  cursor: pointer;
  border: 1px solid #333;
  margin: 0 0 1rem 0; }
  .radio-list > div:last-child, .radio-list > li:last-child {
    margin-bottom: 0; }
  .radio-list > div:before, .radio-list > li:before {
    content: "";
    display: flex;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 30px; }
  .radio-list > div.active, .radio-list > li.active {
    border: 3px solid #000; }
    .radio-list > div.active:before, .radio-list > li.active:before {
      background-color: #000; }

.address-list-item-placeholder .container {
  border: 1px solid #ebebeb; }

.address-list-item-placeholder h5 {
  width: 25%;
  background-color: #ebebeb;
  height: 24px;
  margin-left: 45px; }

.address-list-item-placeholder p {
  width: 35%;
  background-color: #ebebeb;
  height: 18px;
  margin-left: 45px; }
  .address-list-item-placeholder p:last-child {
    width: 15%; }
