.star-rating__star svg {
  transition: 0.3s fill;
  width: 24px;
  fill: #ececec; }

.star-rating__star.star-rating__star--selected svg {
  fill: orange; }

.star-rating__star.sm svg {
  width: 18px; }
