@import './variables.scss';

.accordion-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    .accordion-header {
      min-height: 40px;
      padding: 16px;
      color: $primary-color;
      font-size: 14px;
      font-weight: bold;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      cursor: pointer;
      .accordion-header-label {
        width: 100%;
        align-items: center;
        display: flex;
      }
      .accordion-btn {
        height: 100%;
        width: 32px;
        min-height: 16px;
        color: inherit;
        margin-right: 0;
        margin-left: 16px;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #333;
  
        &.left {
          order: -1;
          margin-right: 16px;
          margin-left: 0;
        }
      }
    }
    
    &.open {
      .accordion-header-label {
        font-weight: bold;
      }
    }
    .accordion-body {
      
    }
    &.disabled {
      .accordion-header {
        color: $disabled-color;
      }
    }
}
@media only screen and (max-width: 1024px){

}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 768px) and (orientation: portrait){
  
}
