@keyframes anim-placeholder {
    0% {
        opacity: 0.4;
    }
    25% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.5;
    }
}