@import './variables.scss';

.animated-text-input {
    width: 100%;
    label {
      position: relative;
      width: 100%;
      input {
        font-size: 14px;
        width: 100%;
        min-height: 44px;
        border-radius: 1px;
        background-color: transparent;
        &:focus, &:active {
          box-shadow: none !important;
          background-color: transparent;
        }
        &:disabled {
          background-color: transparent;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
        
      }
      textarea {
        font-size: 14px;
        width: 100%;
        min-height: 96px;
        &:focus, &:active {
          box-shadow: none !important;
          background-color: transparent;
        }
        &:disabled {
          background-color: transparent;
        }
      }
      .text_input_label {
        position: absolute;
        font-size: 14px;
        line-height: 14px;
        transition: 0.4s all ease-in-out;
        top: 50%;
        left: 0.75rem;
        margin-top: -7px;
        background-color: #fff;
        height: auto;
        z-index: -1;
      }
    }
    
    &.edit-mode {
      label {
        .text_input_label {
          font-size: 12px;
          padding: 0 4px;
          top: -7px;
          margin-top: 0;
          z-index: 1;
        }
      }
    }
    &.error {
      label {
        .text_input_label {
          color: $error;
        }
        input, textarea {
          border-color: $error;
          color: $error;
        }
      }
    }
}
  