$primary-color: #285A84;
$accent-color: #5EA669;
$primary-color-hover: #285A84;
$accent-color-hover: #5EA669;
$dark-btn-text: #fff;
$light-btn-text: #000;
$btn-disabled-color: #ebebeb;
$btn-disabled-text: #333;
$blue: #06c;
$disabled-color: lightgrey;
$success: #28a745;
$error: #cc0000;
$red: #cc0000;
$info: #06c;
$dark: #000;
$placeholder-bg: #ececec;

// Breakpoints
$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-large: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-large: 1600px;

//Thumbnails for cards
$thumb-dimen-lg: 280px;
$thumb-dimen-md: 220px;
$thumb-dimen-sm: 200px;
$thumb-dimen-xs: 240px;

//Nav Header
$nav-height-lg: 96px;
$nav-height-md: 80px;
$nav-height-sm: 64px;
$nav-height-xs: 56px;
