@import './variables.scss';
@import './measurement.scss';
@import './components.scss';
@import './pages.scss';
html * {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 12px;
  background-color: rgba($color: #333333, $alpha: 0.1);
}
*::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 8px;
  background-color: rgba($color: #333333, $alpha: 0.4);
  &:hover {
    background-color: rgba($color: #333333, $alpha: 0.8);
  }
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}

.thin-scroll-bar::-webkit-scrollbar {
  width: 6px;
  background-color: rgba($color: #333333, $alpha: 0.1);
}
.thin-scroll-bar::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 4px;
  background-color: rgba($color: #333333, $alpha: 0.4);
  &:hover {
    background-color: rgba($color: #333333, $alpha: 0.8);
  }
}
.thin-scroll-bar::-webkit-scrollbar-track {
  background-color: transparent;
}
.App * {
  // text-align: center;
  font-family: neusa-next-std,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App-logo {
  height: 80px;
}
.App-body {
  /* max-width: 1200px; */
  margin: auto;
  display: flex;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.page-width {
  padding: 0 20px;
}
.page-width {
  *zoom: 1;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
body[open-popup="true"]{
  overflow: hidden !important;
  max-height: 100vh;
}
ul{
  display: inline-block;
}

li{
  text-align: left;
}

.svg-icon {
  min-width: 24px;
  min-height: 24px;
  .md {
    height: 36px;
    width: 36px;
  }
  .lg {
    height: 48px;
    width: 48px;
  }
}

