@import './variables.scss';
@import './header.scss';
@import './product_card.scss';
@import './product_filter.scss';
@import './themed-btn.scss';
@import './multiselect.scss';
@import './accordion.scss';
@import './message.scss';
@import './animated-text-input.scss';
@import './orders.scss';
@import './counter.scss';
@import './search.scss';
@import './tablayout.scss';
@import './appimage.scss';
@import './likebox.scss';
@import './notification.scss';
@import './dropdown.scss';
@import './dual-range-slider.scss';
@import './modal.scss';
@import './star.scss';
@import './selectable.scss';
@import './loading.scss';
@import './animations.scss';
@import './yourstyle.scss';

.hidden-xs-up {
  display: none;
}

$footerText: #DDFFF7;
$footerBackground: #424B54;
.global-footer {
  background-color: $footerBackground;
  min-height: 48px;
  padding: 2rem 0;
  h5 {
    color: $footerText;
  }
  .footer-link, .footer-text {
    color: $footerText;
    font-size: 1rem;
    line-height: 1.1;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    opacity: 0.7;
  }
  .footer-text {
    a {
      color: $footerText;
      text-decoration: underline;
    }
  }
  svg {
    fill: $footerText;
  }
}

.card-white {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}
.card-white:hover, .card-white:focus {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2)
}
// Component - LoadingModule.js
@keyframes bounce {
  0% {transform: scale(0.5);}
  25% {transform: scale(0.8);}
  50% {transform: scale(0.7);}
  100% {transform: scale(1);}
}
.loading_module {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 9999;
  &.block {
    position: relative;
    min-height: 400px;
    top: auto;
    left: auto;
  }
  &.overlay {
    position: absolute;
    background: rgba(#fff, 0.3);
  }
  .loading_module_wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .loading_icon {
      font-size: 20px;
      .spinner-border {
        width: 3rem;
        height: 3rem;
      }
      .tick-wrapper {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: ($accent-color, 0.2);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        .tick-background {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $accent-color;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          animation: bounce 0.5s;
          .tick {
            width: 24px;
            height: 32px;
            border: 3px solid #333;
            background: transparent;
            transform: rotate(30deg);
          }
        }
      }
    }
    .loading_text {
      margin-top: 24px;
      font-size: 15px;
      font-weight: 500;
      color: #17a2b8;
      &.success {
        color: #333;
        font-size: 16px;
      }
    }
  }
}
.loading-spinner {
  background-color: rgba($color: #fff, $alpha: 0.9);
  top: 0;
  left: 0;
  .loading-spinner-icon {
    font-size: 2.5rem;
  }
  .loading-spinner-text {
    font-size: 1.25rem;
  }
}

.error-module {
  padding: 50px;
  .error-image {
    max-width: 250px;
  }
  .error-text {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0 10px;
  }
  .error-subtext {
    color: #878787;
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.p-8{
  padding: 8px;
}
.float-left {
  float: left;
}
.flex_row {
  display: flex;
}
.align-center {
  align-items: center;
}
.themed_link {
  color: #000;
  text-decoration: none;
  &:focus, &:hover {
    text-decoration: none;
    color: #000;
  }
}


//Component - AddressForm
.address-form-container {
  .address-form {
    max-width: 600px;
    .address-form-header {
      width: 100%;
      font-size: 14px;
      font-weight: bold;
      color: $primary-color;
    }
    .row {

    }
    select {
      font-size: 14px;
      width: 100%;
      min-height: 44px;
    }
  }
}
.address-instance-container {
  border: 1px solid #ebebeb;
  .address-instance-display, .address-instance-edit {
    font-size: 14px;
    position: relative;
    
  }
  .address-instance-edit-btn, .address-instance-cancel-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #0066cc;
  }
}
.card-instance-container {
  border: 1px solid #ebebeb;
  .card-instance-display, .card-instance-edit {
    font-size: 14px;
    position: relative;
    
  }
  .card-instance-edit-btn, .card-instance-cancel-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #0066cc;
  }
}

.tooltip-wrapper {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  flex-direction: column;
  top: 0;
  right: 0;
  .action-icon {

  }
  .action-message-tooltip {
    margin-top: 8px;
    padding: 16px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    &::after {
      content: "";
      position: absolute;
      top: -16px;
      right: 8px;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-color:  transparent transparent #fff transparent;
    }
  }
}

// Component - SelectInput
.select-wrapper {
  select {
    font-size: 14px;
    width: 100%;
    min-height: 44px;
    margin-bottom: .5rem;
  }
  &.error {
    select {
      border-color: $error;
      color: $error;
    }
  }
}
/* ProductHeroGallery */
@keyframes anim-heart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.75);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0.8);
  }
}

/* 64x64 green tick circle */
.green-tick {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  animation: bounce ease-in 1s;
  * {
    color: $success;
    fill: $success;
  }
}

.border-radius-0 {
  border-radius: 0 !important;
}


.slide-out {
  /* animation: slideout 0.75s; */
  background-color: #fff;
  transform: translateY(-300%);
  position: absolute;
  width: 100%;
}
.slide-in {
  transform: translateY(0);
  background-color: #fff;

}
.slide-hold {
  transform: translateY(300%);
  position: absolute;
}
.likebox-home-section {
  h1 {
    margin: 2rem 0.25rem;
    font-weight: bold;
    position: relative;
    color: #000;
    &::after {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      height: 4px;
      width: 48px;
      transition: 0.3s all;
      background-color: #000;
    }
    &.text-right {
      &::after {
        left: auto;
        right: 0;
      }
    }
    &:hover {
      &::after{
        
      }
    }
  }
  .staggered-grid {
    .grid-item {
      position: relative;
      padding: 0.25rem;
      
      .position-relative {
        background-color: $placeholder-bg;
        overflow: hidden;
        width: 100%;
        height: 100%;
        
        &:hover {
          img {
            transform: scale(1.25);
          }
          h3 {
            &::after{
              width: 48px;
            }
          }
        }
        &:after {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          content: "";
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
      h3 {
        position: absolute;
        left: 2rem;
        bottom: 1rem;
        color: #fff;
        z-index: 3;
        font-weight: bold;
        &::after {
          content: "";
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          height: 4px;
          width: 0;
          transition: 0.3s all;
          background-color: #fff;
        }
      }
      a, img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none;
      }
      a {
        z-index: 5;
        background-color: transparent;
      }
      img {
        object-fit: cover;
        transition: 0.3s all;
      }
      img:after {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: "";
        background-color: rgba(0, 0, 0, 0.2);
      }
      &.col-md-6, &.col-md-7, &.col-md-5, &.col-md-12 {
        height: 200px;
        @include media-min(1024px) {
          height: 300px;
        }
        @include media-min(768px) {
          height: 240px;
        }
      }
      &.col-md-4 {
        height: 200px;
        @include media-min(1024px) {
          height: 220px;
        }
        @include media-min(768px) {
          height: 200px;
        }
      }
      
    }
    
  }
}
@keyframes slideout {
  0% {
    top: 0%;
  }
  100% {
    top: -300%;
  }
}
@keyframes slidein {
  0% {
    position: absolute;
    margin-top: 100%;
  }
  100% {
    position: relative;
    margin-top: 0%;
  }
}
.app-image{
  opacity: 0;
  transition: 0.3s all ease-in-out;
  &.img-loaded {
    opacity: 1;
  }
}

.crisp-article {
  padding: 4rem 2rem;
  width: 100%;
  height: auto;
  .container {
    max-width: 980px;
  }
  h3 {
    margin: 2rem 0;
    padding: 0;
  }
  ol.numbered-list, ul {
    padding-left: 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    margin-left: 1.5rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
  .article-section {
    margin-bottom: 1rem;
  }
  .contact-info {
    p {
      font-weight: bold;
      margin-bottom: 0.25rem;
      span, a {
        font-weight: inherit;
      }
    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

}

table {
  border: 2px solid;
  margin-top: 2rem;
  margin-bottom: 2rem;
  tr {
    border-bottom: 2px solid;
  }

  td:not(:last-child) {
    border-right: 2px solid;
  }
  td {
    padding: 0.5rem;
  }
  tbody {
    tr:last-child {
      border-bottom: none;
    }
  }
  thead {
    td {
      font-weight: bold;
    }
  }
}
.size-guide-modal {
  width: 450px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  overflow: auto;
}
.slide-up {
  animation-name: slideup;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.slide-down {
  animation-name: slidedown;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.zoom-in {
  animation: zoomin;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@media only screen and (max-width: 1024px){

}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 768px) and (orientation: portrait){
  
}
