@import './variables.scss';
@import './mixins.scss';

$nav-height: $nav-height-lg;

@include media(1024px){
  $nav-height: $nav-height-md;
}
@include media(767px){
  $nav-height: $nav-height-sm;
}
@include media(660px){
  $nav-height: $nav-height-xs;
}

.App-header {
    background: white;
    z-index: 10;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
  }
  
  /* accent colour: #285A84
  #5EA669
   */
  /* Add a black background color to the top navigation */
  .home_icon {
    max-width: 96px;
  }
  .topnav {
    overflow: inherit;
    padding: 0px 8px;
    transition: 0.2s all ease-in-out;
    min-height: 80px;
    display: flex;
  }
  /* .topnav.scrolling {
    padding: 0 8px;
  } */
  
  /* Style the links inside the navigation bar */
  
  .topnav a {
    float: left;
    color:  #333;
    text-align: center;
    padding: 8px 0;
    margin: auto 1rem;
    /* border-radius: 32px; */
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease-in-out;
  }
  .topnav .hamburger {
    float: left;
    background-color: transparent;
    border-color: transparent;
    border-radius: 50%;
  }
  .topnav .hamburger:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  /* Change the color of links on hover */
  .topnav .navbar {
    width: 100%;
    height: $nav-height;
  }
  .topnav .navbar-nav a:hover {
    /* background-color: rgba(0, 0, 0, 0.1); */
    color: #333;
    text-decoration: none;
  }
  
  /* Mobile sideNav */
  .sideNav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -100%;
    overflow-x: hidden;
    transition: all 0.4s ease-in-out;
  }
  .sideNav.slide-in {
    left: 0;
  }
  .sideNav_wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    background: white;
    padding: 32px;
  }
  .sideNav_closeIcon {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 24px;
    line-height: 24px;
    color: black;
    cursor: pointer;
  }
  .sideNav .clean_list {
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
  }
  .sideNav .clean_list li{
    text-align: left;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  .sideNav a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  .sideNav a:hover {
    color: #333 !important;
  }
  .divider_small {
    width: 50px;
  }
  
  .sideNav a:hover {
    color: #f1f1f1;
  }
  
  .modal-dialog.modal-dialog-centered{
    max-width: 720px;
    .modal-content {
      border: none !important;
    }
    .modal-body {
      padding: 0;
      display: inline-flex;
      .login-img {
        // background-image: url(/assets/img/login.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        flex: 1;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
      }
  
    }
  }

  .user-account-wrapper {
    position: relative;
    .user-account-icon {
      height: 100%;
    }
    .user-account-dropdown {
      width: 150px;
      padding: 8px;
      position: absolute;
      top: 45px;
      right: 0;
      background-color: #fff;
      box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
      border-radius: 3px;
      .user-profile-summary {
        .user-logo {

        }
        .user-name {
          
        }
      }
      ul {
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          width: 100%;
          display: inline-flex;
          &:not(:last-child) {
            border-bottom: 1px solid #ececec;
          }
          a {
            width: 100%;
            text-align: left;
            font-size: 14px;
            &:hover, &:focus, &:active {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .cart-count {
    background: $success;
    font-size: 10px;
    height: 16px;
    width: 16px;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #FFF;
    position: absolute;
    top: -4px;
    right: -8px;
  }

  .primary-nav-dropdown {
    position: relative;
    display: inline-flex;
    .nav-anchor {
      position: relative;
      display: inline-flex;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      margin: auto 1rem;
      &:after {
        content: "";
        height: 2px;
        background-color: #000;
        width: 0;
        position: absolute;
        bottom: 0;
        transition: 0.3s;
        /* animation: grow 0.5s; */
      }
      &:hover:after {
        width: 100%;
      }
    }
    .nav-dropdown-container {
      display: none;
      background-color: #fff;
      box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
      padding-left: 5%;
      padding-right: 5%;
      position: fixed;
      width: 100%;
      top: 80px;
      left: 0;
      .nav-dropdown {
        max-width: 950px;
        display: flex;
        margin: 2rem auto;
        .nav-menu {
          width: 220px;
          min-height: 300px;
          .nav-menu-list {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
              padding: 1rem;
              cursor: pointer;
              transition: 0.3s;
              font-size: 16px;
              text-transform: uppercase;
              color: #707070;
              &.active {
                font-weight: bold;
                color: #000;
                position: relative;
              }
              &.active:before {
                position: absolute;
                height: 24px;
                top: 50%;
                margin-top: -12px;
                left: 0;
                width: 2px;
                background-color: #000;
                content: "";
              }
            }
          }
        }
        .nav-items {
          flex: 1;
          width: 100%;
          display: flex;
          .nav-items-list {
            list-style: none;
            margin: 0;
            padding: 0 2rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            flex-wrap: wrap;
            .nav-item {
              flex: 1;
              display: inline-flex;
              height: auto;
              padding: 0 1rem;
              min-width: 33.33%;
              .nav-item-link {
                text-decoration: none !important;
                width: 100%;
                .nav-item-box {
                  width: 100%;
                  height: 100px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-color: #ececec;
                  position: relative;
                  .nav-item-title {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 16px;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.4);
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.open {
      .nav-dropdown-container {
        display: block;
      }

      .nav-anchor:after {
        width: 100%;
      }
    }
  }
.nav_icon {
  max-height: 24px;
}
.home_icon {
  width: 240px;
  height: auto;
}
