@import './variables.scss';

//Component - PageMessage
.msg-container {
  // border: 1px solid #000;
  border: none;
  padding: 8px 16px;
  .msg-icon {
    font-size: 20px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;
  }
  .msg-text {
    font-size: 14px;
    width: 100%;
    color: inherit;
    padding: 0 8px;
  }
  .msg-close {
    font-size: 24px;
    display: inline-flex;
    color: inherit;
    cursor: pointer;
  }
  &.msg-small {
    padding: 8px;
    line-height: 1;
    .msg-icon {
      font-size: 15px;
      line-height: 14px;
      height: auto;
      width: auto;
    }
    .msg-text {
      font-size: 12px;
      line-height: 14px;
    }
    .msg-close {
      font-size: 16px;
      line-height: 14px;
    }
  }
  &.no-border {
    border: none;
    padding: 0 !important;
  }
  &.error, 
  &.alert {
    background-color: rgba($error, 0.2);
    border-color: $error;
    color:$error;
  }
  &.success {
    background-color: rgba($success, 0.2);
    border-color: $success;
    color: $success;
  }
  &.info {
    background-color: rgba($info, 0.2);
    border-color: $info;
    color: $info;
  }
}