@import './variables.scss';

.selectable_tag {
    display: inline-flex;
    cursor: pointer;
    border: 1px solid #333;
    color: #333;
    padding: 4px 16px;
    border-radius: 32px;
    background-color: transparent;
    width: auto;
    margin-right: 12px;
    &.selected {
        background-color: #333;
        color: #fff;
    }
    &.cancelable {
        padding-right: 24px;
        position: relative;
        .tag_cancel {
            position: absolute;
            font-size: 16px;
            height: 100%;
            display: inline-flex;
            align-items: center;
            right: 8px;
            color: inherit;
        }
    }
    .tag_name {
        font-size: 13px;
        text-align: center;
    }
    
    &:hover, &:focus {
        opacity: 0.9;
    }
    &.accent {
        border-color: $accent-color;
        &.selected {
            background-color: $accent-color;
        }
    }
    &.primary {
        border-color: $primary-color;
        &.selected {
            background-color: $primary-color;
        }
    }
    &.blue {
        border-color: $blue;
        color: $blue;
        &.selected {
            background-color: $blue;
        }
    }
    &.grey {
        color: #333;
        background-color: rgba(0, 0, 0, 0.2);
        border-color: rgba(0, 0, 0, 0.2);
        &.selected {
            color: #333;
            background-color: rgba(0, 0, 0, 0.4);
            border-color: rgba(0, 0, 0, 0.4);
        }
    }
    &.disabled {
        opacity: 0.7;
        user-select: none;
        cursor: none;
    }
}
.multiselect_tags_container {
    .tags_label {
        font-weight: normal;
        font-size: 14px;
        margin: 8px 0;
        width: auto;
        margin-right: 24px;
        min-width: 100px;
    }
    .tags_container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        list-style-type: none;
        margin-bottom: 0;
    }
}
