@import './variables.scss';

.page {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80vh;
}

.page-content-wrapper {
    margin: auto;
    max-width: 1200px;
}
.product-cards-container, .wish-list-container {
    max-width: 950px;
    margin: auto;
}

.login-body {
    width: 90%;
    max-width: 480px;
    // box-shadow: 0 1px 8px 1px rgba(0,0,0,.12);
    .switch-link {
        a {
            font-size: 14px;
            color: $blue;
        }
    }
    .login-signup-container {
        flex-wrap: nowrap;
        transition: 0.3s all;
        transform: translateX(0);
        .module {
            flex: 1;
            min-width: 100%;
        }
        &.slide-signup {
            transform: translateX(-100%);
        }
    }
}