
@import './cart.scss';
@import './checkout.scss';

.products-section {
    .flex_container {
        display: flex;
        .product_cards_container {
            width: 100%;
            float: left;
        }
    }
}
.page-content-wrapper {
    margin: auto;
    max-width: 1200px;
}