
@import './cart.scss';
@import './checkout.scss';
@import './user-dashboard.scss';
@import './variables.scss';

.page {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80vh;
}
.products-section {
    width: 100%;
    .flex_container {
        display: flex;
        .product_cards_container {
            width: 100%;
            float: left;
        }
    }
    .listing-page-header {
        font-size: 36px;
    }
}
.page-content-wrapper {
    margin: auto;
    max-width: 1200px;
}
.product-cards-container, .wish-list-container {
    max-width: 950px;
    margin: auto;
}
.product-home-page {
    .product-details {
        .product-name {
            font-weight: 500;
            font-size: 16px;
            line-height: 36px;
        }
        .product-brand {
            font-weight: 300;
            font-size: 27px;
            line-height: 36px;
            font-weight: 500;
            text-transform: uppercase;
        }
        .product-price {
            .product-sale-price {
                font-weight: 500;
                font-size: 21px;
            }
            .product-full-price {
                font-size: 14px;
                text-decoration: line-through;
            }
            .product-discount {
                font-size: 14px;
                color: $success;
            }
            .price-tax-info {
                font-size: 12px;
                color: $success;
                font-weight: 500;
            }
        }
        .product-rating {
            font-size: 14px;
            .rating-star {
                color: #ebebeb;
                font-size: inherit;
                &.active {
                    color: orange;
                }
                &.half-star {
                    color: orange;
                    position: relative;
                    &:after {
                        position: absolute;
                        width: 50%;
                        right: 0;
                        top: 0;
                        height: 100%;
                        background-color: #fff;
                    }
                }
            }
        }
        .product-delivery-container {
            .product-delivery-header {
                font-size: 14px;
                text-transform: uppercase;
            }
            .product-delivery-check {
                .small-msg {
                    font-size: 12px;
                }
                .form-group {
                    margin-bottom: 0;
                }
            }
            .product-delivery-options {
                font-size: 14px;
                padding-left: 0;
                margin-left: 0;
                list-style-type: none;
                list-style: none;
                li {
                    padding-left: 0;
                    margin-left: 0;
                    margin-bottom: .5rem;
                    font-weight: 500;
                }
            }
        }
        .select-size-wrapper {
            display: inline-block;
            width: 100%;
            .select-size-label {
                font-size: 14px;
                text-transform: uppercase;
            }
            .select-size-input-container {
                display: flex;
                flex-wrap: wrap;
                
                .square-radio {
                    display: inline-flex;
                    position: relative;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    height: 48px;
                    width: 48px;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        &:checked {
                            &+.square-radio-text {
                                background-color: $accent-color;
                                color: $dark-btn-text;
                            }
                        }
                    }
                    .square-radio-text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background-color: #eee;
                        color: #333;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                    }
                }
                &:hover {
                    .square-radio-text {
                    }
                }
            }
        }
    }
}

.login-body {
    width: 90%;
    max-width: 480px;
    // box-shadow: 0 1px 8px 1px rgba(0,0,0,.12);
    .switch-link {
        a {
            font-size: 14px;
            color: $blue;
        }
    }
    .login-signup-container {
        flex-wrap: nowrap;
        transition: 0.3s all;
        transform: translateX(0);
        .module {
            flex: 1;
            min-width: 100%;
        }
        &.slide-signup {
            transform: translateX(-100%);
        }
    }
}