.toast {
    padding: 8px 24px;
    transition: 0.3s all ease-in;
    color: #fff;
    background-color: #333;
    position: fixed;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    bottom: -100%;
    left: 16px;
    min-width: 240px;
    min-height: 48px;
    border-radius: 2px;

    .toast-msg {
        color: inherit;
        font-size: 14px;
        line-height: 16px;
    }
    &.error {
        color: #cc0000;
    }
    &.success {
        color: #28a745;
    }
    &.info {
        color: #17a2b8 !important;
    }
    &.show {
        bottom: 16px;
    }
    &.top {
        top: -100%;
        bottom: auto;

        &.show {
            top: 32px;
        }
    }
}