.user-dashboard{
    max-width: 750px !important;
    margin: auto;
    padding: 32px 0;
    .dashboard-navigation {
        width: 250px;
        padding: 16px 0;
        >.hello-user {
            width: 100%;
            padding: 12px;
            margin-bottom: 16px;
            .hello-user-logo {
                height: 50px;
                width: 50px;
            }
            .hello-user-text {
                padding: 5px 0 0 16px;
                width: 100%;
                .hello-user-greeting {
                    font-size: 12px;
                }
                .hello-user-name {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
        >ul {
            box-sizing: border-box;
            list-style-type: none;
            padding: 0;
            width: 100%;
            margin: 0;
            &:not(:last-child){
                padding-bottom: 16px;
            }
            &:not(:first-child){
                padding-top: 16px;
            }
            li {
                padding: 0;
                margin: 0;
                display: flex;
                a {
                    background-color: transparent;
                    color: #333;
                    width: 100%;
                    padding: 6px 8px;
                    text-decoration: none !important;
                    margin: 2px 0;
                    transition: 0.3 all;
                    &.active {
                        border-left: 3px solid #333;
                        font-weight: 500;
                    }
                }

            }
        }
    }
    .dashboard-body {
        width: 100%;
        padding: 16px 32px;
        h1 {
            font-weight: 300;
        }
        .editable-section {
            .field-edit {
                margin-left: 32px;
                font-size: 13px;
                font-weight: bold;
                color: #06c;
                cursor: pointer;
            }
        }
    }
    .app-tab-layout {
        .tab-pane {
            min-height: 400px;
        }
    }
    .user-settings-wrapper{
        width: 100%;
        overflow: hidden;
        .user-settings {
            display: flex;
            flex-wrap: nowrap;
            transition: 0.3s all;
            transform: translateX(0); 
            .user-settings-menu { 
                flex: 1 1;
                min-width: 100%; 
                ul {
                    list-style-type: none;
                    padding-left: 0;
                    margin: 0;
                    width: 100%;
                    li {
                        min-height: 64px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: 24px;
                        line-height: 10px;
                        cursor: pointer;
                        padding: 1rem;

                        &:not(:last-child){
                            border-bottom: 1px solid rgba(112,112,112, 0.25);
                        }
                    }
                }             
            }
            .user-settings-detail { 
                flex: 1 1;
                min-width: 100%;   
                .back {
                    font-size: 16px;
                    text-transform: uppercase;
                    text-decoration: underline;
                    clear: both;
                    cursor: pointer;
                    min-height: 64px;
                    display: flex;
                    align-items: center;
                }           
            }
            &.detail-open {
                transform: translateX(-100%);
                .user-settings-menu {
                    
                }
            }
        }
    }
}