$primary-color: #285A84;
$accent-color: #5EA669;
$primary-color-hover: #285A84;
$accent-color-hover: #5EA669;
$dark-btn-text: #fff;
$light-btn-text: #000;
$btn-disabled-color: #e6e6e6;
$blue: #06c;
$disabled-color: lightgrey;
