@import './variables.scss';
@import './mixins.scss';
@import './animations.scss';

/* $thumb-dimen-lg: 280px;
$thumb-dimen-md: 220px;
$thumb-dimen-sm: 200px;
$thumb-dimen-xs: 240px; */

.wish-list-instance-container-placeholder {
}
.wish-list-instance-container {
    max-width: $thumb-dimen-lg;
    @include media(768px){
      max-width: $thumb-dimen-md;
    }
    @include media(660px){
      max-width: $thumb-dimen-sm;
    }
    @include media(420px){
      max-width: $thumb-dimen-xs;
    }
    .wish-list-instance-thumb {
      width: $thumb-dimen-lg;
      height: $thumb-dimen-lg;
      display: inline-block;
      background-color: $placeholder-bg;
      border: 1px solid #ebebeb;

      @include media(768px){
        width: $thumb-dimen-md;
        height: $thumb-dimen-md;
      }
      @include media(660px){
        width: $thumb-dimen-sm;
        height: $thumb-dimen-sm;
      }
      @include media(420px){
        width: $thumb-dimen-xs;
        height: $thumb-dimen-xs;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .wish-list-instance-text {
      .wish-list-instance-name {
        font-size: 14px;
        font-weight: 500;
      }
      .wish-list-instance-price-placeholder {
        height: 18px;
        margin-bottom: 6px;
        background-color: $placeholder-bg;
      }
      .wish-list-instance-name-placeholder {
        height: 20px;
        background-color: $placeholder-bg;
      }
      .wish-list-instance-cta-placeholder {
        height: 32px;
        background-color: $placeholder-bg;
      }
      .wish-list-instance-brand {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
      }
      .wish-list-instance-price {
        display: inline-flex;
        align-items: flex-start;
        font-weight: 600;
        font-size: 18px;
        * {
          font-weight: inherit;
        }
        .wish-list-instance-sale-price {
          
        }
      }
      
    }
    .wish-list-instance-remove-wrapper {
      top: 0.5rem;
      right: 0;
      width: 100%;
      
      p {
        font-size: 0.875rem;
      }
      .action-message-tooltip {
        width: 100%;
      }
      .action-icon {
        cursor: pointer;
        margin-right: 0.5rem;
      }
    }
    
  }