.app-btn {
  border: 0;
  outline: 0;
  transition: 0.3s;
  height: 48px;
  width: auto;
  border-radius: 24px;
  background-color: #000;
  color: #fff !important;
  padding: 6px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  position: relative;
  overflow: hidden; }
  .app-btn .app-btn__text {
    transition: inherit;
    font-size: 15px;
    line-height: 22px;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold; }
  .app-btn[disabled] {
    opacity: 0.5;
    text-decoration: none !important; }
  .app-btn:not(.app-btn--loading)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 0; }
  .app-btn:hover:not([disabled]):not(.app-btn--loading) {
    text-decoration: none; }
    .app-btn:hover:not([disabled]):not(.app-btn--loading) .app-btn__text {
      /* font-size: 80%; */
      z-index: 2;
      position: relative; }
    .app-btn:hover:not([disabled]):not(.app-btn--loading)::after {
      animation: hover-in-interactive-base 0.6s cubic-bezier(0.6, 0.1, 0.9, 0.6) forwards;
      background-color: #333; }

@keyframes hover-in-interactive-base {
  0.00% {
    background-color: #333;
    padding-top: 0;
    width: 0; }
  to {
    background-color: #333;
    padding-top: 90rem;
    width: 90rem; } }
  .app-btn.app-btn--secondary {
    border: 2px solid #000;
    color: #000;
    background-color: #fff;
    color: #000 !important;
    box-sizing: border-box; }
    .app-btn.app-btn--secondary:hover:not([disabled]):not(.app-btn--loading) {
      background-color: #fff; }
      .app-btn.app-btn--secondary:hover:not([disabled]):not(.app-btn--loading)::after {
        animation: hover-in-interactive-white 0.6s cubic-bezier(0.6, 0.1, 0.9, 0.6) forwards;
        background-color: #ececec; }

@keyframes hover-in-interactive-white {
  0.00% {
    background-color: #ececec;
    padding-top: 0;
    width: 0; }
  to {
    background-color: #ececec;
    padding-top: 90rem;
    width: 90rem; } }
  .app-btn.app-btn--transparent {
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.03);
    color: #000 !important;
    box-sizing: border-box; }
    .app-btn.app-btn--transparent:hover:not([disabled]):not(.app-btn--loading) {
      background-color: rgba(0, 0, 0, 0.03); }
      .app-btn.app-btn--transparent:hover:not([disabled]):not(.app-btn--loading)::after {
        animation: hover-in-interactive-white 0.6s cubic-bezier(0.6, 0.1, 0.9, 0.6) forwards;
        background-color: #ececec; }

@keyframes hover-in-interactive-white {
  0.00% {
    background-color: #ececec;
    padding-top: 0;
    width: 0; }
  to {
    background-color: #ececec;
    padding-top: 90rem;
    width: 90rem; } }
  .app-btn.app-btn--lg {
    height: 80px; }
  .app-btn.app-btn--sm {
    height: 32px; }
    .app-btn.app-btn--sm .app-btn__text {
      font-size: 14px;
      font-weight: normal; }
  .app-btn.app-btn--loading {
    position: relative; }
    .app-btn.app-btn--loading .app-btn__text {
      opacity: 0; }
    .app-btn.app-btn--loading::after {
      position: absolute;
      top: 50%;
      margin-top: -13px;
      left: 50%;
      margin-left: -13px;
      content: "";
      width: 26px;
      height: 26px;
      border-radius: 50%;
      border: 2px solid #fff;
      border-bottom-color: transparent !important;
      animation: 0.75s linear infinite spin; }
    .app-btn.app-btn--loading.app-btn--secondary::after {
      border-color: #000; }
