.suggested_search_bar {
    display: inline-flex;
    position: relative;
    .search_input_container {
        position: relative;
        display: inline-flex;

        .close_icon {
            position: absolute;
            top: 50%;
            margin-top: -12px;
            height: 24px;
            width: 24px;
            left: 8px;
            font-size: 24px;
            line-height: 20px;
            color: #333;
            cursor: pointer;
            display: none;
        }
        .search_input {
            border-radius: 32px !important;
            background-color: rgba(0, 0, 0, 0.1) !important;
            border: 0 !important;
            padding: 0;
            outline: none;
            transition: 0.3s all ease-in-out;
            width: 0;
            height: 100%;
            &:focus, &:active {
                outline: none !important;
                border: none !important;
            }
        }
        .search_icon {
        }
        &.expanded {
            .search_input {
                padding: 0 48px 0 32px;
                width: 400px;
            }
            .search_icon {
                position: absolute;
                top: 0;
                right: 0;
                &:hover {
                    background: transparent;
                }
            }
            .close_icon {
                display: inline;
            }
        }
        .search_suggestions_wrapper {
            
        }
    }
    .search_suggestions {
        position: absolute;
        top: 45px;
        background-color: #fff;
        border: 1px solid #ececec;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 8px;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
        width: 100%;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%;
            li {
                padding: 8px 0;
                margin: 0;
                line-height: 1.2;
                font-size: 14px;
                text-overflow: ellipsis;
                height: 40px;
                width: 100%;
                display: inline-flex;
                align-items: center;
                &:not(:last-child) {
                    border-bottom: 1px solid #ececec;
                }
                a {
                    font-size: 14px;
                    text-decoration: none !important;
                    width: 100%;
                    text-align: left;
                    &:hover, &:focus, &:active {
                        border-radius: 0 !important;
                        background-color: transparent;
                    }
                }
            }
        }

    }
}
  