@keyframes expandbox {
  0% {
    min-width: 0 !important;
    max-width: 0% !important;
    width: 0%; }
  100% {
    min-width: 100% !important;
    max-width: none;
    width: 100%; } }

.app-search {
  display: inline-flex; }
  .app-search .app-search__screen {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: white;
    /* &:not(.app-search__screen--expanded) {
            .app-search__input {
                width: 0%;
            }
        } */ }
    .app-search .app-search__screen .app-search__header {
      text-align: left; }
    .app-search .app-search__screen .app-search__box {
      /* Expand this on creation */
      display: inline-flex;
      justify-content: center;
      align-items: center; }
      .app-search .app-search__screen .app-search__box .app-search__input {
        min-height: 40px;
        width: 0;
        outline: none !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 3px solid black !important;
        transition: 0.25s width ease-in-out;
        transition-delay: 1s;
        animation: expandbox 0.25s;
        animation-delay: 0s;
        animation-fill-mode: forwards;
        font-size: 1.25rem; }
        .app-search .app-search__screen .app-search__box .app-search__input:focus {
          border: none; }
      .app-search .app-search__screen .app-search__box .app-search__action {
        cursor: pointer; }
    .app-search .app-search__screen.app-search__screen--expanded {
      display: flex;
      /* .app-search__input {
                width: 100%;
            } */ }
    .app-search .app-search__screen .app-search__close {
      width: 4rem;
      height: 4rem;
      position: absolute;
      top: 2rem;
      right: 2rem;
      cursor: pointer; }
