.page {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80vh;    
    display: flex;
    flex-direction: column;
}

.page-content-wrapper {
    margin: auto;
    max-width: 1200px;
}
.product-cards-container, .wish-list-container {
    max-width: 950px;
    margin: auto;
}