.brand-item {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .brand-item img {
    max-width: 190px;
    width: auto;
    height: auto;
    max-height: 100%; }

.app-card {
  overflow: hidden;
  border-radius: 3px;
  box-shadow: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out; }
  .app-card .app-card-body .app-card-img {
    height: 200px; }
    .app-card .app-card-body .app-card-img img {
      width: 100%;
      height: 200px;
      object-fit: cover; }
  .app-card .app-card-footer {
    color: #000; }
    .app-card .app-card-footer h4 {
      color: #000; }
    .app-card .app-card-footer p {
      color: grey;
      font-size: 14px; }
  .app-card:hover, .app-card:focus {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }
    .app-card:hover *, .app-card:focus * {
      text-decoration: none !important; }

.likeblogs .slick-track {
  display: flex; }

.reasons .reasons-icon {
  height: 72px;
  width: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .reasons .reasons-icon img {
    max-height: 100%;
    width: auto; }

.feature {
  max-width: 850px;
  margin: auto; }
  .feature .feature__icon {
    height: 100px;
    width: auto; }

.hero__media img, .hero__media video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover; }

.hero__media::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15); }
