.range-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: black;
  top: 50%;
  margin-top: calc(-1 * (20px/2));
  font-size: 0;
  color: transparent;
  cursor: pointer; }
  .range-slider-thumb:focus, .range-slider-thumb:active {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.2); }

.horizontal-slider {
  margin: 0;
  width: 100%;
  height: 50px; }
  .horizontal-slider .range-slider-track {
    top: 50%;
    height: 6px;
    border-radius: calc(6px/2);
    margin-top: calc(-1 * (6px/2));
    background: #dddddd none repeat scroll 0% 0%; }
    .horizontal-slider .range-slider-track.range-slider-track-1 {
      background: #000; }
