.style-tile {
  height: 160px;
  width: 100%;
  position: relative;
  outline: 0 !important;
  border: 0 !important;
  background-color: transparent !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .style-tile .style-thumb {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0; }
  .style-tile .style-check {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 32px;
    border: 2px solid #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 5; }
  .style-tile .style-text {
    z-index: 4;
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    position: absolute; }
  .style-tile:hover .style-thumb, .style-tile:focus .style-thumb {
    transform: scale(1.2); }
  .style-tile::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: 0.3s all;
    animation: zoomin;
    animation-duration: 0.3s;
    animation-fill-mode: both; }
  .style-tile.selected .style-check::after {
    content: "";
    background-color: #fff;
    width: calc(32px/1.5);
    height: calc(32px/1.5);
    border-radius: calc(32px/1.5); }
