.p-8 {
  padding: 8px; }

.pt-8 {
  padding-top: 8px; }

.App-header {
  background: white;
  z-index: 10;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05); }

/* accent colour: #285A84
  #5EA669
   */
/* Add a black background color to the top navigation */
.home_icon {
  max-width: 96px; }

.topnav {
  overflow: hidden;
  padding: 24px 8px;
  transition: 0.2s all ease-in-out; }

.topnav.scrolling {
  padding: 0 8px; }

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 8px 16px !important;
  border-radius: 32px !important;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s ease-in-out; }

.topnav .hamburger {
  float: left;
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%; }

.topnav .hamburger:hover {
  background-color: rgba(0, 0, 0, 0.1); }

/* Change the color of links on hover */
.topnav .navbar-nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
  text-decoration: none; }

/* Mobile sideNav */
.sideNav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: -100%;
  overflow-x: hidden;
  transition: all 0.4s ease-in-out; }

.sideNav.slide-in {
  left: 0; }

.sideNav_wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  background: white;
  padding: 32px; }

.sideNav_closeIcon {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 24px;
  line-height: 24px;
  color: black;
  cursor: pointer; }

.sideNav .clean_list {
  padding-left: 0;
  margin-bottom: 0;
  width: 100%; }

.sideNav .clean_list li {
  text-align: left;
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: center; }

.sideNav a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block; }

.sideNav a:hover {
  color: #333 !important; }

.divider_small {
  width: 50px; }

.sideNav a:hover {
  color: #f1f1f1; }

.search_input_container {
  position: relative; }

.themed_text_input {
  border-radius: 32px !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 0 !important;
  padding: 0 24px;
  outline: none; }

.themed_text_input:focus, .themed_text_input:active, .themed_btn:focus, .themed_btn:active {
  outline: none !important;
  border: none !important; }

.search_input_container {
  position: relative; }

.search_input {
  padding: 0;
  transition: 0.3s all ease-in-out;
  width: 0;
  height: 100%; }

.close_icon {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  height: 24px;
  width: 24px;
  left: 8px;
  font-size: 24px;
  line-height: 20px;
  color: #333;
  cursor: pointer;
  display: none; }

.search_input_container.expanded .close_icon {
  display: inline; }

.search_input_container.expanded .search_input {
  padding: 0 48px 0 32px;
  width: 400px;
  outline: none; }

.search_input_container.expanded .search_input + .search_icon {
  position: absolute;
  top: 0;
  right: 0; }

.search_input_container.expanded .search_input + .search_icon:hover {
  background: transparent; }

.card_wrapper {
  width: 100%;
  position: relative;
  margin: 0px;
  background: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  border-radius: 0px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  display: inline-block; }
  .card_wrapper .card_img_wrapper {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
    .card_wrapper .card_img_wrapper .card_img {
      width: 100%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px; }
  .card_wrapper .card_text_wrapper {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0 10px;
    margin-top: 12px;
    text-decoration: inherit; }
    .card_wrapper .card_text_wrapper .card_product_brand {
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      color: #282c3f;
      margin-bottom: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
      text-decoration: inherit; }
    .card_wrapper .card_text_wrapper .card_product_name {
      color: #535766;
      font-size: 14px;
      line-height: 1;
      margin-bottom: 0;
      margin-top: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 400;
      display: block;
      text-align: left;
      text-decoration: inherit; }
    .card_wrapper .card_text_wrapper .card_product_price {
      line-height: 15px;
      margin: 10px 0 6px;
      white-space: nowrap;
      font-size: 14px;
      color: #282c3f;
      font-weight: 500;
      text-align: left;
      text-decoration: inherit; }
      .card_wrapper .card_text_wrapper .card_product_price .card_product_price_strike {
        text-decoration: line-through;
        color: #7e818c;
        font-weight: 400;
        margin-left: 5px;
        font-size: 12px; }
      .card_wrapper .card_text_wrapper .card_product_price .card_product_discountPercentage {
        color: #ff905a;
        font-weight: 400;
        font-size: 12px;
        margin-left: 5px; }
  .card_wrapper:hover, .card_wrapper:focus {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.204789);
    text-decoration: none; }

.product_filter_wrapper .section_heading {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  padding: 16px 12px;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .product_filter_wrapper .section_heading .left_section {
    display: flex; }
    .product_filter_wrapper .section_heading .left_section .collapsible_header {
      display: inline-flex;
      align-items: center;
      padding-right: 64px;
      border-right: 1px solid #333;
      cursor: pointer; }
    .product_filter_wrapper .section_heading .left_section .sort_dropdown {
      display: inline-flex;
      align-items: center;
      padding: 0 64px; }
      .product_filter_wrapper .section_heading .left_section .sort_dropdown button {
        background-color: transparent;
        border: none;
        color: #000;
        text-transform: uppercase;
        padding: 16px 12px;
        font-size: inherit;
        font-weight: inherit;
        border-radius: 0;
        padding: 0;
        font-size: inherit;
        font-weight: inherit;
        border-radius: 0;
        line-height: inherit;
        margin: 0;
        box-shadow: none; }
        .product_filter_wrapper .section_heading .left_section .sort_dropdown button:focus, .product_filter_wrapper .section_heading .left_section .sort_dropdown button:active {
          box-shadow: none; }
  .product_filter_wrapper .section_heading .right_section {
    text-align: right; }

.product_filter_wrapper .filter_section {
  padding: 0 12px 12px 12px;
  display: flex;
  flex-wrap: wrap; }
  .product_filter_wrapper .filter_section p, .product_filter_wrapper .filter_section ul, .product_filter_wrapper .filter_section li {
    padding-left: 0; }
  .product_filter_wrapper .filter_section .filter_section_heading {
    font-weight: normal;
    font-size: 16px;
    margin: 8px 0;
    width: auto;
    margin-right: 24px;
    min-width: 100px; }
  .product_filter_wrapper .filter_section .filter_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 0; }
    .product_filter_wrapper .filter_section .filter_list li {
      display: flex;
      align-items: center;
      width: auto;
      margin-right: 12px;
      margin-bottom: 0; }
      .product_filter_wrapper .filter_section .filter_list li label {
        margin-bottom: 0; }
        .product_filter_wrapper .filter_section .filter_list li label input[type='checkbox'] {
          margin-right: 12px;
          display: none; }
        .product_filter_wrapper .filter_section .filter_list li label input[type='checkbox'] + span {
          color: #000;
          background-color: rgba(0, 0, 0, 0.2);
          padding: 6px 16px;
          cursor: pointer;
          border-radius: 32px;
          font-size: 14px; }
        .product_filter_wrapper .filter_section .filter_list li label input[type='checkbox']:checked + span {
          background-color: rgba(0, 0, 0, 0.4); }

.themed_btn_container {
  display: inline-block;
  width: 100%;
  padding: 0; }
  .themed_btn_container .themed_btn {
    border: 2px solid #000;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-radius: 0; }
    .themed_btn_container .themed_btn .themed_btn_content {
      font-size: 16px;
      line-height: 1.2;
      color: #000;
      min-width: 120px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center; }
      .themed_btn_container .themed_btn .themed_btn_content .themed_btn_text {
        margin: 0 8px; }
    .themed_btn_container .themed_btn.theme_accent {
      background-color: #5EA669;
      border-color: #5EA669; }
      .themed_btn_container .themed_btn.theme_accent .themed_btn_content {
        color: #fff; }
    .themed_btn_container .themed_btn.theme_primary {
      background-color: #285A84;
      border-color: #285A84; }
      .themed_btn_container .themed_btn.theme_primary .themed_btn_content {
        color: #fff; }
    .themed_btn_container .themed_btn.theme_grey {
      background-color: lightgrey;
      border-color: lightgrey; }
      .themed_btn_container .themed_btn.theme_grey .themed_btn_content {
        color: #000; }
    .themed_btn_container .themed_btn.theme_light {
      background-color: white;
      border-color: white; }
      .themed_btn_container .themed_btn.theme_light .themed_btn_content {
        color: #000; }
    .themed_btn_container .themed_btn.no-border {
      border: 2px solid transparent; }
    .themed_btn_container .themed_btn:not([disabled='true']):hover, .themed_btn_container .themed_btn:not([disabled='true']):focus, .themed_btn_container .themed_btn:not([disabled='true']):active {
      text-decoration: none;
      background-color: #000; }
      .themed_btn_container .themed_btn:not([disabled='true']):hover .themed_btn_content, .themed_btn_container .themed_btn:not([disabled='true']):focus .themed_btn_content, .themed_btn_container .themed_btn:not([disabled='true']):active .themed_btn_content {
        color: #fff; }
    .themed_btn_container .themed_btn[disabled='true'] {
      background-color: #e6e6e6;
      border-color: #e6e6e6; }
      .themed_btn_container .themed_btn[disabled='true'] .themed_btn_content {
        color: #fff; }

.hidden-xs-up {
  display: none; }

.card-white {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out; }

.card-white:hover, .card-white:focus {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); }

.loading_module {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 9999; }

.loading_module_wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.loading_text {
  margin-top: 24px;
  font-size: 18px; }

.p-8 {
  padding: 8px; }

.float-left {
  float: left; }

.flex_row {
  display: flex; }

.align-center {
  align-items: center; }

.themed_link {
  color: #000;
  text-decoration: none; }
  .themed_link:focus, .themed_link:hover {
    text-decoration: none;
    color: #000; }

.msg-container {
  border: 1px solid #000;
  padding: 16px;
  margin: 16px 0; }
  .msg-container .msg-icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit; }
  .msg-container .msg-text {
    font-size: 16px;
    width: 100%;
    color: inherit;
    padding: 0 8px; }
  .msg-container .msg-close {
    font-size: 24px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: inherit;
    cursor: pointer; }
  .msg-container.small {
    padding: 8px; }
    .msg-container.small .msg-icon {
      width: 24px;
      height: 24px; }
    .msg-container.small .msg-text {
      font-size: 14px; }
    .msg-container.small .msg-close {
      font-size: 18px; }
  .msg-container.no-border {
    border: none; }
  .msg-container.error, .msg-container.alert {
    border-color: red;
    color: red; }
  .msg-container.success {
    border-color: green;
    color: green; }
  .msg-container.info {
    border-color: #0066cc;
    color: #0066cc; }

.checkout_container .cart_body {
  display: flex;
  width: 100%;
  margin: auto; }
  .checkout_container .cart_body .cart_product_wrapper .container .thumbnail {
    width: 96px; }
  .checkout_container .cart_body .cart_product_wrapper .container .desc {
    margin-left: 24px; }
    .checkout_container .cart_body .cart_product_wrapper .container .desc h4 {
      font-size: 18px; }
  .checkout_container .cart_body .cart_product_wrapper .container .price_wrapper .strikeThrough {
    text-decoration: line-through;
    opacity: 0.8;
    font-size: 14px; }
  .checkout_container .cart_body .cart_product_wrapper .container .price_wrapper .price {
    font-size: 16px; }
  .checkout_container .cart_body .cart_product_wrapper .container .qty_container > span {
    min-width: 40px;
    height: 40px;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center; }
    .checkout_container .cart_body .cart_product_wrapper .container .qty_container > span.decr_icon, .checkout_container .cart_body .cart_product_wrapper .container .qty_container > span.incr_icon {
      cursor: pointer;
      font-size: 20px; }
    .checkout_container .cart_body .cart_product_wrapper .container .qty_container > span.decr_icon {
      border-right: none; }
    .checkout_container .cart_body .cart_product_wrapper .container .qty_container > span.incr_icon {
      border-left: none; }
  .checkout_container .cart_body .cart_product_wrapper .container .delete_product {
    font-size: 22px;
    cursor: pointer; }
  .checkout_container .cart_body .cart_product_wrapper .container .removePanel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: white; }
  .checkout_container .cart_body .cart_product_wrapper:not(:last-child) .container {
    border-bottom: 1px solid #ececec; }
  .checkout_container .cart_body .cart_sidePanel {
    padding: 24px 16px;
    background-color: #333;
    color: white;
    width: 320px; }
    .checkout_container .cart_body .cart_sidePanel .align-text-right {
      text-align: right; }
    .checkout_container .cart_body .cart_sidePanel h2, .checkout_container .cart_body .cart_sidePanel h3 {
      color: inherit; }

.checkout_container .cart_footer {
  background-color: #ececec; }
  .checkout_container .cart_footer .cart_footer_container {
    max-width: 960px;
    margin: auto;
    padding: 32px 0;
    display: flex;
    justify-content: space-between; }

.checkout_container .cart_breadcrumbs {
  background-color: #ececec; }
  .checkout_container .cart_breadcrumbs .cart_breadcrumbs_container {
    max-width: 960px;
    margin: auto;
    padding: 32px 0;
    display: flex;
    justify-content: space-between; }
    .checkout_container .cart_breadcrumbs .cart_breadcrumbs_container .crumb {
      font-size: 16px;
      font-weight: 300;
      opacity: 0.6;
      text-decoration: none;
      color: #333;
      text-align: center;
      padding-left: 24px; }
      .checkout_container .cart_breadcrumbs .cart_breadcrumbs_container .crumb:not(:last-child):after {
        content: '\203A';
        position: absolute;
        height: 24px;
        right: 0;
        top: 50%;
        margin-top: -12px;
        font-size: 33px;
        line-height: 18px;
        font-weight: 300; }
      .checkout_container .cart_breadcrumbs .cart_breadcrumbs_container .crumb:hover, .checkout_container .cart_breadcrumbs .cart_breadcrumbs_container .crumb:focus, .checkout_container .cart_breadcrumbs .cart_breadcrumbs_container .crumb:active, .checkout_container .cart_breadcrumbs .cart_breadcrumbs_container .crumb:visited {
        text-decoration: none;
        color: #333; }
      .checkout_container .cart_breadcrumbs .cart_breadcrumbs_container .crumb.active {
        opacity: 1;
        font-weight: 400; }

.products-section .flex_container {
  display: flex; }
  .products-section .flex_container .product_cards_container {
    width: 100%;
    float: left; }

.page-content-wrapper {
  margin: auto;
  max-width: 1200px; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.page-width {
  padding: 0 20px; }

.page-width {
  *zoom: 1;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px; }

ul {
  display: inline-block; }

li {
  text-align: left; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }
